.main_chat
  .group-list
    .group-info
      .group-info__group-name
        test1
      %h2.group-info__group-member
        Member:
    = link_to '#',class: "edit" do
      .edit__edit-btn
        Edit
  .messages
    .message
      .message-info
        .message-info__user-name
          nick
        .message-info__message-data
          2020/05/13(Wed) 10:10:30
      .message-text
        おはよう！
    .message
      .message-info
        .message-info__user-name
          nick
        .message-info__message-data
          2020/05/13(Wed) 10:10:30
      .message-text
        おはよう！
    .message
      .message-info
        .message-info__user-name
          nick
        .message-info__message-data
          2020/05/13(Wed) 10:10:30
      .message-text
        おはよう！
  .form
    %input.form__message
    .form__mask
      %label.form__mask__image
        = icon('fa','image',class: 'icon')
        %input.hidden{type: 'file'}
    %input.form__submit{type: 'submit', value: 'Send'}